interfaces {
    interface-range dot1x-range {
        member et-0/0/8;
        disable;
    }
    et-0/0/8 {
        disable;
        unit 0 {
            family ethernet-switching;
        }
    }

access {
    radius-server {
        7.7.7.7 {
            accounting-port 1813;
            secret "$9$6kQN/0B1RhyevtpM8L7Y2qmPTF/uORlK8CtK8X7sYfTz39AuORhclfTA0BIle4aZUHqfT3AtOZU/tuOcSYgo";
            timeout 5;
            retry 2;
        }
        10.50.81.24 {
            accounting-port 1813;
            secret "$9$lKmeX7NdbY4aW8JGUi5T0B1ESeLxdgoGvWoGDif5IEcyKMLxdbwgIEMX7-g4z369p0IEyMWx69eWLxws5QF";
            timeout 5;
            retry 2;
        }
    }
    profile nac-clients {
        authentication-order radius;
        radius {
            authentication-server [ 7.7.7.7 10.50.81.24 ];
            accounting-server [ 7.7.7.7 10.50.81.24 ];
        }
        accounting {
            order radius;
            coa-immediate-update;
            address-change-immediate-update;
        }
    }
}


protocols {
    dot1x {
        authenticator {
            authentication-profile-name nac-clients;
            interface {
                dot1x-range {
                    supplicant multiple;
                    transmit-period 3;
                    mac-radius;
                    reauthentication 3600;
                    server-reject-vlan v0110_guest;
                    server-fail permit;
                }
            }
        }
    }

vlans {
    v0105_user-net {
        vlan-id 105;
        forwarding-options {
            dhcp-security;
        }
    }
    v0135_development {
        vlan-id 135;
        forwarding-options {
            dhcp-security;
        }
    }
