interfaces {
    interface-range dot1x-range {
        member et-0/0/8;
        disable;
    }
    et-0/0/8 {
        disable;
        unit 0 {
            family ethernet-switching;
        }
    }
}
access {
    radius-server {
        {{local_site_pps_vip}} {
            accounting-port 1813;
            secret "$9$6kQN/0B1RhyevtpM8L7Y2qmPTF/uORlK8CtK8X7sYfTz39AuORhclfTA0BIle4aZUHqfT3AtOZU/tuOcSYgo";
            timeout 5;
            retry 2;
        }
        10.50.81.24 {
            accounting-port 1813;
            secret "$9$lKmeX7NdbY4aW8JGUi5T0B1ESeLxdgoGvWoGDif5IEcyKMLxdbwgIEMX7-g4z369p0IEyMWx69eWLxws5QF";
            timeout 5;
            retry 2;
        }
    }
    profile nac-clients {
        authentication-order radius;
        radius {
            authentication-server [ {{local_site_pps_vip}} 10.50.81.24 ];
            accounting-server [ {{local_site_pps_vip}} 10.50.81.24 ];
        }
        accounting {
            order radius;
            coa-immediate-update;
            address-change-immediate-update;
        }
    }
}


protocols {
    dot1x {
        authenticator {
            authentication-profile-name nac-clients;
            interface {
                dot1x-range {
                    supplicant multiple;
                    transmit-period 3;
                    mac-radius;
                    reauthentication 3600;
                    server-reject-vlan {{guest_wired_vlan_name}};
                    server-fail permit;
                }
            }
        }
    }
}
vlans {
    {{user_vlan_name}} {
        vlan-id {{user_vlan_id}};
        forwarding-options {
            dhcp-security;
        }
    }
    {{dev_vlan_name}} {
        vlan-id {{dev_vlan_id}};
        forwarding-options {
            dhcp-security;
        }
    }
}